.form {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0 auto;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.delay-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.delay-label input {
  outline: none;
  margin-top: 8px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  &:hover {
    border-color: #000;
    transition: border-color 250ms ease-in-out;
  }
  &:focus {
    border-color: #4e75ff;
    transition: border-color 250ms ease-in-out;
  }
}

fieldset {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin: 0;
  margin-bottom: 24px;
  padding-bottom: 8px;
  padding-top: 18px;
  border-radius: 4px;
  border: 1px solid #808080;
  &:hover {
    border-color: #000;
    transition: border-color 250ms ease-in-out;
  }
}
fieldset label {
  display: flex;
  gap: 8px;
}

fieldset input {
  width: 20px;
  height: 20px;
  accent-color: #4e75ff;
}

form button {
  padding: 8px 99px;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  &:hover {
    background-color: #6c8cff;
    transition: background-color 250ms ease-in-out;
  }
}
